body {
  margin: 0;
  font-family: "Pacifico";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(191, 226, 220, 0.5);
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

code {
  font-family: "Pacifico";
}

@font-face {
  font-family: "Pacifico";
  src: url("/Pacifico.ttf");
}
